.sign-page{
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  min-width:100%;
  min-height: 100vh;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $blue;
  &__form{
    min-width: 240px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 1rem;
  }
  &__input{
    border:none;
    padding: 0 0 0 0.5rem;
    font-size: 1rem;
    font-family: $ff;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid $blue;
    min-height: 2rem;
    transition:all .2s ease-out;
    &:focus{
      outline:none;
      border-bottom: 2px solid $yellow;
    }
  }
  &__input-box{
    box-sizing: border-box;
    position: relative;
    min-height: 2rem;
    width:100%;
    margin-bottom: 1.5rem;
  }
  &__submit-btn{
    min-height: 2rem;
    background-color: $blue;
    border: none;
    font-family: $ff;
    color: $white;
    font-size: 1.2rem;
    border-radius: 2px;
    transition: all .2s ease-out;
    &:hover{
      cursor: pointer;
      transform: scale(1.05);
    }
  }
  .span-error{
    color: $red;
    opacity:.9;
    position: absolute;
    font-size: .7rem;
    font-family: $ff;
    top:2.2rem;
  }
}
